@page
@model TheUniversity.Pages.SchoolAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchoolAdministrator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAdministrator.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolAdministrator.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAdministrator.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolAdministrator.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAdministrator.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolAdministrator.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolAdministrator.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolAdministrator.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SchoolAdministrator.SchoolAdministratorID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
